.ub-button-content-holder .ub-button-image {
  align-self: center;
}

.ub-button-wipe {
  &-left,
  &-right,
  &-up,
  &-down {
    overflow: hidden;
    .ub-button-content-holder {
      top: 0;
      z-index: 6;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      transition: all 0.5s;
      background-color: var(--ub-button-after-background-color);
    }
  }
  &-left:hover:after,
  &-right:hover:after,
  &-up:hover:after,
  &-down:hover:after {
    width: 100%;
    height: 100%;
  }

  &-left:after {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
  }
  &-right:after {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
  }
  &-up:after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
  }
  &-down:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
  }
}
