/*** Extensions ***/
@import "./block-extensions/button/editor.scss";
@import "./block-extensions/table-of-contents/editor.scss";
@import "./block-extensions/expand/editor.scss";
@import "./block-extensions/divider/editor.scss";
@import "./block-extensions/review/styles/editor.scss";
@import "./block-extensions/content-toggle/styles/editor.scss";
@import "./block-extensions/tabbed-content/styles/editor.scss";
@import "./block-extensions/social-share/editor.scss";
@import "../inc/libraries/ub-common/Components/editor.css";
@import "./block-extensions/advanced-video/editor.scss";
@import "./block-extensions/post-grid/editor.scss";
@import "./styles/savedStyles.sass";
@import "./blocks/preview-provider/style";

/*** Extensions ***/
@import "./extensions/editor.scss";

.ub-justification-control {
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
}
