.ub-advanced-video-channel-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  .ub-advanced-video-channel-content-wrapper {
    gap: 10px;
    display: flex;
    align-items: center;
    .ub-advanced-video-thumbnail-wrapper {
      .ub-advanced-video-thumbnail {
        border-radius: 100%;
      }
    }
    .ub-advanced-video-title-wrapper {
      .ub-advanced-video-title {
        margin: 0;
        font-weight: 700;
      }
    }
  }
  .ub-advanced-video-channel-subscribe-button {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #e62117;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none !important;
    font-size: 14px;
  }
}
